@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">

                    <text>Olá, @context.User.Identity.Name</text>
                    <NavLink class="nav-link" href="/logout">Logout</NavLink>

                </div>

                <article class="content px-4 m-5">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login-container text-center">
            <Futebol.Web.Pages.Login />
        </div>

    </NotAuthorized>
</AuthorizeView>