@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <text>Olá, @context.User.Identity.Name</text>
                    <NavLink class="nav-link" href="/logout">Logout</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="/login">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
