@page "/login"
@using Futebol.Shared.Models.User;
@using Futebol.Web.Services;
@inject UserServiceClient UserService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<main class="form-signin w-100 m-auto">
    <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
        <img class="mb-4 " src="../assets/person-badge.svg" alt="" width="80" height="80">

      
        <h1 class="h3 mb-4 fw-normal">Login</h1>

        <div class="form-floating">
            <InputText class="form-control" type="email" id="floatingInput" @bind-Value="loginModel.Email" placeholder="name@example.com" />
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
            <InputText type="password" class="form-control" id="floatingPassword" @bind-Value="loginModel.Password" placeholder="Password" />
            <label for="floatingPassword">Password</label>
        </div>

        <div class="mt-4">

            @if (!loggingIn)
            {
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            }
            else
            {
                <p>
                    Logging in...
                </p>
            }
        </div>

        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
</main>

@code {
    private LoginModel loginModel = new();
    private bool loggingIn;

    private async Task HandleValidSubmit()
    {
        loggingIn = true;
        var result = await UserService.LoginAsync(loginModel);

        if (result.Success)
            NavigationManager.NavigateTo("/");

        loggingIn = false;
    }
}
