@page "/votos"
@inject PlayerServiceClient PlayerService;
@inject NotificationService NotificationService;

<PageTitle>Votos</PageTitle>
<h3 class="mb-4">Votos</h3>

@if (players.Any())
{

}

@code {
    private List<PlayerModel> players = new();

    private async Task GetAllPlayersAsync()
    {
        var result = await PlayerService.GetAllAsync();

        if (result.Success)
        {
            players = result.Data.ToList();
        }
        else
        {
            await NotificationService.Error("Erro ao obter dados");
        }
    }
}
